<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .doc-begin {
            text-align: right;
            margin-left:auto;
            margin-right:0;
            width: 250px;
        }

        .doc-title {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="doc-begin">
    И.о. директора Высшей школы ИТИС
    Абрамскому М. М.
    от студента <b>${first_name} ${last_name}</b>
</div>
<h3 class="doc-title">Заявление</h3>
<p>
    Прошу меня, ${first_name} ${last_name} ${age} с паспортом ${numberOfPassport}, зачислить на 1 курс ВШ ИТИС по программе "программная инженерия".
</p>
<p>
    <b>${date} __________________ (Подпись и расшифровка)</b>
</p>
</body>
</html>